body {
  font-family: Arial, sans-serif;
  background-color: #2a2a2a;
  border: 0;
  display: contents;
  text-align: center;
  overflow: hidden;
  color: #f2f2f2;
}

img{
  float: right;
  margin: 30px 30px;
  cursor: pointer;
}
h1 {
  background: #000000;
  background: linear-gradient(to right, #ffffff 40%, #616161bb 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  margin-top: 30px;
  /* color: #f2f2f2; */
  margin-bottom: 20px;
}


.container {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 500px;
  flex-direction: column;
  align-items: center;
  background-color: #30303047;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.items {
  display: inline-block;
  flex: content;
  margin: 100px;
  justify-content: center;

}

/* .item1{
  
} */
button {
  color: white;
  height: 200px;
  width: 350px;
  cursor: pointer;
  margin: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgba(244, 243, 243, 0.378);

}

button:hover {
  color: black;
  background: linear-gradient(128deg, rgba(255, 255, 255, 0.884) 18%, rgba(255, 254, 254, 0.768) 61%);

}

.btn1 {
  margin-right: 60px;
}

.btn1:hover {
  transition: 150ms ease-in all;
  box-shadow: rgba(5, 143, 255, 0.925) -30px -10px 100px 5px, rgb(204, 255, 2) 20px 10px 100px 10px;
}

.btn2 {
  margin-left: 60px;
}

.btn2:hover {
  transition: 150ms ease-in all;
  box-shadow: rgba(5, 143, 255, 0.925) -30px -10px 100px 5px, rgba(255, 2, 69, 0.804) 20px 10px 100px 10px;

}

/* #hover-content{
  display: none;
}
.btn1:hover #hover-content {
  display:block;
} */
/* 
.btn2:hover #hover-content {
  display:block;
} */

.footer {
  position: fixed;
  display: block;
  color: black;
  margin-top: 60px;
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(245, 245, 245, 0.858);
}

.f {
  /* margin-top: 10px; */
  line-height: 10px;
  text-align: center;
}

#webgl-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

#calculate,
#reset {
  padding: 10px 20px;
  border: none;
  background-color: #f47391;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
  float: left;
  border-radius: 20px;
}

#reset:hover {
  background: #d96dfa;
  transition: all .35s;
}